/* -------------------------------- */
/*              COMMON              */
/* -------------------------------- */
body {
	background-image:url("../img/swirl_pattern.png"); /* source: Subtle Patterns, Uday -- http://subtlepatterns.com/swirl-2/ */
	font-family:Century Gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:13px;
	line-height:18px;
	padding-top:100px; /* for fixed navbar */
	padding-bottom:50px; /* for fixe footer */
}
.main-content {
	margin:10px 0 10px 0;
	padding:10px 5px 25px 5px;
	background-color:white;
	border:4px solid;
	border-radius:25px;
	/*border-image-source: url(../img/stripes.png);
	border-image-slice: 20; */
}
/* -------------------------------- */
/*          TOP NAVIGATION          */
/* -------------------------------- */
.navbar-custom {
	margin-top:15px;
	margin-bottom:25px;
	border-top:1px solid #d52623;
	border-bottom:2px solid #d52623;
	pointer-events:all; /* enables clicking (disabled by parent gradient-background) */
}
.navbar-inverse .navbar-nav > li > a {
	color:#BABABA;
}
#navbar-image {
	max-width:180px;
	margin-top:-30px;
	-webkit-transition: max-width 1s;
	transition: max-width 1s;
}
@media (min-width:768px) {
	#navbar-image:hover {
		max-width:300px;
	}
}
.gradient-background {
	background:-moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background:linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	width:100%;
	height:170px;
	pointer-events: none; /* allows clicking underlying elements */
}
/* -------------------------------- */
/*              FOOTER              */
/* -------------------------------- */
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	padding-top:5px;
	border-top:1px solid grey;
}
footer a:link {
	color:#BABABA;
	text-decoration:none;
}
footer a:visited {
	color:#BABABA;
	font-weight:lighter;
    text-decoration:none;
}
footer a:hover {
	color:#EDEDED;
	font-weight:bold;
    text-decoration:none;
}
footer a:active {
	color:red;
    text-decoration:none;
}
.social-media-icon {
  width:40px;
  margin-top:-20px;
  -webkit-transition:margin-top 1s;
  transition:margin-top 1s;
}
.social-media-icon:hover {
	margin-top:-40px;
}
@media (max-width: 768px) {
  .social-media-icon {
	width:15px;
	margin-top:0px;
  }
  footer {
	font-size:10px;
  }
}
/* -------------------------------- */
/*         POLAROID IMAGES          */
/* -------------------------------- */
#polaroid-background {
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    z-index:1500; /* above navbar */
}
#polaroid-large {
    display:none;
    position:absolute;
    background:#FFFFFF;
    padding:5px;
    z-index:1501;
    color:#336699;
	text-align:center;
}
@media (min-width: 768px) { 
    .vertical-align {
        display: flex;
        align-items: center;
    }
}
.polaroid_imgs img {
    border:none;
	max-height:351px;
    max-width:351px;
	display:block;
	width:inherit;
}
.polaroid_imgs a {
	background:white;
	display:inline;
	float:left;
	margin:0 15px 30px;
	padding:10px 5px 25px;
	text-align:center;
	text-decoration:none;
	-webkit-box-shadow:0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow:0 4px 6px rgba(0,0,0,.3);
	box-shadow:0 4px 6px rgba(0,0,0,.3);
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	transition:all .15s linear;
	z-index:0;
    position:relative;
}
.polaroid_imgs a:after {
	color:#333;
	font-size:20px;
	content:attr(title);
	position:relative;
	top:15px;
}
.polaroid_imgs a:nth-child(2n) {
	-webkit-transform:rotate(-8deg) translate(-50px, 10px);  
	-moz-transform:rotate(-8deg) translate(-50px, 10px); 
	transform:rotate(-8deg) translate(-50px, 10px);
}
.polaroid_imgs a:nth-child(3n) { 
	-webkit-transform:rotate(-24deg);  
	-moz-transform:rotate(-24deg); 
	transform:rotate(-24deg); 
}
.polaroid_imgs a:nth-child(4n) {
	-webkit-transform:rotate(14deg);  
	-moz-transform:rotate(14deg); 
	transform:rotate(14deg); 
}
.polaroid_imgs a:nth-child(5n) {
	-webkit-transform:rotate(-18deg);  
	-moz-transform:rotate(-18deg); 
	transform:rotate(-18deg); 
}
.polaroid_imgs a:hover {
	-webkit-transform:rotate(0deg); 
	-moz-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transform:scale(1.2); 
	-moz-transform:scale(1.2);
	transform:scale(1.2);
	z-index:10;
	-webkit-box-shadow:0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow:0 10px 20px rgba(0,0,0,.7);
	box-shadow:0 10px 20px rgba(0,0,0,.7);
}
/* -------------------------------- */
/*         RECORDS CATALOG          */
/* -------------------------------- */
.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color:#C93838;
}
.records-list{
	margin:0;
	padding:0;
	list-style:none;
}
.records-list li{
	float:left;
	width:25%;
	height:115px;
	padding:10px;
	font-size:10px;
	line-height:1.4;
	text-align:center;
	border:1px solid #fff;
}
.records-list li a {
	color:white;
}
.records-list .glyphicon{
	margin-top:5px;
	margin-bottom:10px;
	font-size:12px;
}
.record-item-0 {
	background-color:#C2C2C2;
}
.record-item-1 {
	background-color:#EBEBEB;
}
.records-list li:hover{
	color:#fff;
	background-color:#C93838;
}
@media (max-width:768px){
	.records-list li{
		width:50%;
		font-size:12px;
	}
}
.add-record-box {
	background-color:grey !important;
	height:90px !important;
}
a:hover .add-record-box  {
	background-color:black !important;
}
.record-link {
	border:2px solid grey;
	border-radius:25px;
}

.record-link:hover{
	border:2px solid red;
}

.record-link-active {
	border:3px solid black;
	border-radius:25px;
}

.record-link-active:hover {
	border:3px solid red;
}
/* -------------------------------- */
/*            HOME PAGE             */
/* -------------------------------- */
.carousel {
  border-radius:25px;
  height:475px;
  margin-bottom:40px;
}
.carousel-caption {
  z-index:10;
  text-shadow:0px 0px 15px #000000, 0px 0px 15px #000000, 0px 0px 15px #000000;
}
.carousel .item {
  border-radius:25px;
  height:475px;
  background-color:#777;
}
.carousel-inner > .item > img {
  border-radius:25px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  /*min-width: 100%;*/
  height:475px;
}
.carousel-control {
	border-radius:25px;
}
.carousel-indicators > li {
	border:2px solid #d5281f;
}
.marketing p {
  margin-right: 10px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .carousel-caption p {   /* Bump up size of carousel content */
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

h2:first-of-type { padding-top: 0; }
.pagination {
  height: 36px;
  margin: 18px 0;
  
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/* -------------------------------- */
/*            ABOUT PAGE            */
/* -------------------------------- */
.scrollable {
	max-height:450px; /* use jQuery to alter this to fit page size dynamically? */
	overflow-y:scroll;
}
.content-header { 
	font-family:"Bernard MT Condensed";
	font-size:25px;
	color:#D40A0A;
}
.content-large-header {
	font-family:"Bernard MT Condensed";
	font-size:35px;
	color:#D40A0A;
}
#store-button{
	color:#D40A0A;	
}
.about-btn-style {
	border:none;
	font-size:25px;
	color:#6B6B6B;
	padding:1px 10px;
	background-color:#fcfcfc;
	font-family:"Bernard MT Condensed";
}
.about-btn-style:hover {
	background-color: #fcfcfc;
	color: #D40A0A;
}
.about-btn-style:focus, .about-btn-style:active{
	color: 	#D40A0A;
	border-color: none;
	outline: none;
}
/* -------------------------------- */
/*           CONTACT PAGE           */
/* -------------------------------- */
.small-text-muted {
	font-size:18px;
	margin-top:0px;	
	padding-top:0px;
}
.no-margin {
	margin:10px 0 0 0;
	padding:0;
}
/* Embedded Google map */
#map-outer {
	height:440px;
	padding:10px;
	border:2px solid #CCC;
	background-color:white;
}
#map-container {
	margin-top: 20px;
	height: 400px;
}
.pointer:hover{
	cursor:pointer;
}
.rowTextCentered{
	text-align:center;
}